.footer__item{
	width: 100px;
	height: 100px;
	margin: 111px;
	padding: 20px;
}	
.footer__logo .logo{
	width: 50px;
	height: 50px;
	margin-top: 1px;
    padding-left: 1px;
}

.footer__bg{
	margin-top: 76px;
}

.footer__logobg{
	color: chocolate;
}
.footer__ubicacionbg{
	color: sandybrown ;
}
.footer__contactobg{
	color: rgb(56,44,45);
}
.footer__bg{
	background-color: saddlebrown;
}
.footer__item{
	display: inline;
	position: relative;
}
.horario{
	background-color: #C06337;
}
/* inicio clase footer */
.footer__item{
	width: 100px;
	height: 100px;
	margin: 111px;
	padding: 20px;
}	
.footer__logo .logo{
	width: 50px;
	height: 50px;
	margin-top: 1px;
    padding-left: 1px;
}

.footer__bg{
	margin-top: 76px;
}

.footer__logobg{
	color: chocolate;
}
.footer__ubicacionbg{
	color: sandybrown ;
}
.footer__contactobg{
	color: rgb(56,44,45);
}
.footer__bg{
	background-color: saddlebrown;
}
.footer__item{
	display: inline;
	position: relative;
}
.horario{
	background-color: #C06337;
}

/* fin clase footer */