/* inicio clase img */

.img__control{
	margin-left: 30px;
	width: 200px;
	height: 200px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    animation-name: img__control;
   animation-iteration-count: 2s;
   animation-timing-function: ease-in-out;
   animation-duration: 2s;
   

}
.img__tele{
	margin-left: -1px;
	margin-left: 30px;
	transition: height 2s;

}

.img__compu{
margin-left: 30px;
	width: 200px;
	height: 200px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
} 
/* fin clase img */
@keyframes img__control{
	0%{ width: 100px; }
   0.2s{ width: 50px; }
   25%{ width: 300px; }
   50%{ width: 200px; }
   75%{ width: 300px;}
   100%{ width: 100px;}
}
 