<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ubicacion</title>
	<link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
	<header class="header">
		<div class="header__conteiner">
			<div class="header__logo">
				<img src="../assets/img/logoo.png" class="logo" alt="logo">
			</div>
			<h3 class="service">Service Electronica</h3>
		</div>
		<nav>
			<ul class="header__nav nav--background">
				<li class="nav__item nav__item--background "><a href="../index.html" class="nav__item--color">Home</a></li>
				<li class="nav__item nav__item--background "><a href="reparacion.html" class="nav__item--color">Reparacion</a></li>
				<li class="nav__item nav__item--background "><a href="ubicacion.html" class="nav__item--color">ubicacion</a></li>
				<li class="nav__item nav__item--background "><a href="productos.html" class="nav__item--color">producto</a></li>
				<li class="nav__item nav__item--background "><a href="contactos.html" class="nav__item--color">Contacto</a></li>
				<li class="nav__item nav__item--background "><a href="#" class="nav__item--color"><a href="https://goo.gl/maps/3gQFZoutVxCCccaM8" target="_blank">Ir a Maps</a></li>
			</ul>
			</ul>
		</nav>

	</header>
	<section>
		<article>
			<table>
				<tr>
					<td>
						<h3>Ubicación</h3>
					</td>
				</tr>
				<tr>
					<td>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.25180726677!2d-58.44441778477051!3d-34.597793580460944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0b1b5cfea9%3A0x608aa8e4a436dec9!2sGurruchaga%20443%2C%20C1414%20DHI%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1643251186119!5m2!1ses-419!2sar" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</td>
				</tr>
			</table>
		</article>
	</section>
	<section>
		<article>
			
		</article>
	</section>
	<footer class="footer">
		<h2>Horarios de Atencion:<br>De 9 a 13 y de 16 a 19
			</h2>
		<div class="footer__bg"> 
		<h4 class="footer__item footer__logobg">LOGO</h4>
		<h4 class="footer__item footer__ubicacionbg">UBICACION</h4>
		<h4 class="footer__item footer__contactobg">CONTACTO</h4>
		</div>
	</footer>
</body>
</html>